*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.slider{
	width: 600px;
	height: 400px;
	transition: 0.4s;
}

.fa:hover{
	transform: scale(1.25);
	transition: 1s;
}

.fa{
	transform: scale(1);
	transition: 1s;
}


// body::before{
// 	content: "<";
// 	font-size: 40px;
// 	font-weight: bolder;
// }

// body:after{
// 	content: ">";
// 	font-size: 40px;
// 	font-weight: bolder;
// }

